# API
PORT="3000"
NODE_ENV="development"

# MongoDB
DOCDB_URI="mongodb://localhost:27021"
DOCDB_DATABASE="onb"
DOCDB_USER="mongo"
DOCDB_PASSWORD="mongo"

# Telecom APIs
AUTH_URL=""
API_URL=""
CLIENT_ID="your_client_id_here"
CLIENT_SECRET="your_client_secret_here"

# Scopes por servicio
NUMBER_VERIFICATION_SCOPE=""
SIM_SWAP_SCOPE=""
DEVICE_SWAP_SCOPE=""

# Mock
DEVICE_NUMBER_VALIDATED=""